.container {
  /* variables */
  --margin: 25px;

  display: flex;
  flex-direction: column;
  width: max(95vw, 75%);
  margin: 0 auto;
  padding: 120px 0;
}

.imageContainer {
  width: clamp(300px, 500px, 92%);
  margin-bottom: 20px;
  margin-right: auto;
  margin-left: 4vw;
}

.aboutContainer {
  width: 92%;
  margin: 0 auto;
}

.aboutItem:nth-child(1) {
  font-size: 34px;
  font-weight: 500;
  color: #333;
  margin-bottom: 20px;
}

.aboutItem:nth-child(2) {
  height: 2px;
  width: 70px;
  background-color: #98875c;
  margin-bottom: 40px;
  border: 0;
}

.aboutItem:nth-child(3),
.aboutItem:nth-child(5) {
  color: #777;
  margin: 15px 0 30px;
  line-height: 24px;
}

.aboutItem:nth-child(4) {
  color: #333;
  font-size: 20px;
  font-weight: 500;
}

@media only screen and (min-width: 992px) {
  .container {
    flex-direction: row;
  }

  .imageContainer {
    margin-right: var(--margin);

    width: clamp(60%, 800px, 92%);
  }

  .aboutContainer {
    margin-left: var(--margin);
    width: clamp(50%, 600px, 92%);
  }
}
