.container {
  /* variables */
  --margin: 25px;

  display: flex;
  flex-direction: column;
  max-width: 100%;
  margin: 0 auto;
}

.imageContainer {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 55px;
  margin-top: -35px;
  width: 50%;
}

.imageContainer .image {
  /* background-image: url(../public/img/gallery3.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center; */
  /* margin-right: var(--margin);
  margin-right: var(--margin); */
  /* width: clamp(250px, 50vw, 700px); */
}

/* .imageContainer::before {
  content: '';
  display: block;
  position: relative;
  top: 8px;
  left: 8px;
  bottom: 8px;
  right: 8px;
  border: 1px solid red;
} */

.aboutContainer {
  width: 80%;
  margin-right: auto;
  margin-left: auto;

  width: 50%;
}

.aboutItem:nth-child(1) {
  font-size: 34px;
  font-weight: 500;
  color: #333;
  margin-bottom: 20px;
}

.aboutItem:nth-child(2) {
  height: 2px;
  width: 70px;
  background-color: #98875c;
  margin-bottom: 40px;
  border: 0;
}

.aboutItem:nth-child(3),
.aboutItem:nth-child(5) {
  color: #777;
  margin: 15px 0 30px;
  line-height: 24px;
}

.aboutItem:nth-child(4) {
  color: #333;
  font-size: 20px;
  font-weight: 500;
}

@media only screen and (min-width: 1024px) {
  .container {
    flex-direction: row;
  }

  .imageContainer {
    margin-left: var(--margin);
    margin-right: var(--margin);
    margin-top: 0;
  }

  .aboutContainer {
    margin-left: var(--margin);
    margin-right: var(--margin);
  }
}
