.gallery {
  padding-bottom: 120px;
}

.container {
  padding: 15px 0;
  margin: 0 auto;
}

.bannerContainer {
  background: url(../public/img/gallery5.jpg) fixed;
  background-repeat: no-repeat;
  background-color: #444444;
  background-position: center;
  background-size: cover;
  background-blend-mode: multiply;
  margin-bottom: 40px;
  text-align: center;
}

.overlay {
  padding: 80px 0;
}

.overlayItem:nth-child(1) {
  color: #ffffff;
  font-size: 34px;
  font-weight: 500;
  margin-bottom: 20px;
}

.overlayItem:nth-child(2) {
  border: 1px solid #98875c;
  height: 2px;
  width: 70px;
  text-align: center;
  margin: 0 auto 40px;
}

.overlayItem:nth-child(3) {
  color: #ffffffcc;
  font-size: 22px;
  margin-bottom: 40px;
}

.categoryContainer {
  margin: -15px 0;
}

.categories {
  padding-bottom: 30px;
  text-align: center;
}

.categories ul {
  padding: 0;
  list-style: none;
  margin-top: 0;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.categories ul > li {
  display: inline-block;
  margin: 0 10px;
  padding: 20px 0;
  width: 100%;
}

.categories ul > li:first-child {
  width: 100%;
}

.categories ul > li button {
  color: #999999;
  font-weight: 500;
  font-size: 14px;
  padding: 12px 24px;
  background-color: #eeeeee;
  border: 0;
  border-radius: 0;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  margin: 0;
  user-select: none;
}

.categories ul > li button:hover,
.categories ul > li button.active {
  color: #ffffff;
  background-color: #98875c;
}

.galleryContainer {
  margin: -15px 0;
  padding: 15px 0;
  z-index: 2;
}

.galleryItems {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  /* column-gap: 65px; */
}

.item {
  margin: 15px 15px;
  overflow: hidden;
  position: relative;
  width: min(360px, 90%);
  cursor: pointer;
  user-select: none;
}

.itemHoverBg {
  height: 240px;
}

.itemHoverBg::before {
  content: '';
  position: absolute;
  border: 1px solid #ffffff99;
  top: 6px;
  bottom: 6px;
  left: 6px;
  right: 6px;
  z-index: 20;
}

.hoverText {
  display: none;
}

.itemHoverBg:hover .hoverText {
  line-height: 250px;
  opacity: 1;
  z-index: 10;
  user-select: none;
}

.itemImg {
  background-position: 50%;
}

.hide {
  display: none;
}

@media (min-width: 481px) {
  .categories ul > li {
    width: auto;
  }
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }

  .item {
    width: 46%;
  }

  .hoverText {
    display: block;
    position: absolute;
    background-color: #00000099;
    color: #ffffff;
    z-index: 10;
    height: 240px;
    width: 100%;
    text-align: center;
    opacity: 0;
    line-height: 300px;
    transition: all 0.3s ease-out;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }

  .item {
    width: 30%;
  }

  .categories ul > li:first-child {
    width: auto;
  }

  .bannerContainer {
    margin-bottom: 70px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }

  .galleryItems {
    column-gap: 0;
  }
}
