html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Raleway', BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  scroll-behavior: smooth;
  text-rendering: optimizelegibility !important;
  -webkit-font-smoothing: antialiased !important;
  scroll-padding-top: 70px;
}

@media (min-width: 480px) {
  html,
  body {
    scroll-padding-top: 73px;
  }
}

@media (min-width: 768px) {
  html,
  body {
    scroll-padding-top: 100px;
  }
}

@media (min-width: 992px) {
  html,
  body {
    scroll-padding-top: 105px;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

/* ::before,
::after {
  clear: both;
} */

* {
  box-sizing: border-box;
}

hr {
  height: 2px;
  width: 70px;
  text-align: center;
  position: relative;
  background: #98875c;
  border-width: 0px;
  border-style: initial;
  border-color: initial;
  border-image: initial;
  box-sizing: content-box;
  display: block;
  unicode-bidi: isolate;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  margin-inline-start: auto;
  margin-inline-end: auto;
  overflow: hidden;
  margin: 0px 0px 40px;
}

button {
  margin: 20px;
  padding: 15px;
  border: 1px solid #98875c;
  border-radius: 2px;
  background-color: #98875c;
  color: white;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

a {
  user-select: none;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */
